[submodule "capstone/caplifive-buildroot"]
	path = capstone/caplifive-buildroot
	url = https://github.com/project-starch/caplifive-buildroot.git
[submodule "capstone/capstone-c"]
	path = capstone/capstone-c
	url = https://github.com/jasonyu1996/capstone-c
[submodule "capstone/capstone-qemu"]
	path = capstone/capstone-qemu
	url = https://github.com/project-starch/capstone-qemu.git
[submodule "capstone/capstone-spec"]
	path = capstone/capstone-spec
	url = https://github.com/project-starch/capstone-spec

[submodule "capstone/paper"]
	path = capstone/paper
	url = https://github.com/project-starch/pointer-safe-paper
	branch = main
	update = none
[submodule "capstone/capstone-ariane"]
	path = capstone/capstone-ariane
	url = https://github.com/project-starch/capstone-ariane.git
[submodule "capstone/caplifive-system"]
	path = capstone/caplifive-system
	url = https://github.com/project-starch/caplifive-system.git
