[submodule "capstone/caplifive-buildroot"]
	path = capstone/caplifive-buildroot
	url = https://github.com/project-starch/caplifive-buildroot.git
[submodule "capstone/capstone-c"]
	path = capstone/capstone-c
	url = https://github.com/jasonyu1996/capstone-c
[submodule "capstone/capstone-qemu"]
	path = capstone/capstone-qemu
	url = https://github.com/project-starch/capstone-qemu.git
[submodule "capstone/capstone-spec"]
	path = capstone/capstone-spec
	url = https://github.com/project-starch/capstone-spec

